*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;

}

body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    background-image: url("pexels-pixabay-531880.jpg");
    background-size: cover;
    font-family: Arial, sans-serif; 
}

.counterContainer{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
    height: 90vh; 
    width: 60vw;
    background-color: #e8d4d4;    
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 4px 8px rgba(39, 32, 32, 0.2);
    transition: transform 0.5s ease;
}


#para{
    font-size: 4rem; 
    font-weight: bold; 
    color: #534d4d; 
    text-shadow: 2px 2px 3px rgb(130, 69, 69);
}

.counterContainer:hover{
    transform: translate(0.2rem, 0.2rem);
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.2), 4px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

#count{
    font-size: 7rem; 
    font-weight: bold; 
    color: #282626; 
     text-shadow: 2px 2px 3px rgb(130, 69, 69);
}

#myButton{
    padding: 15px 30px; 
    font-size: 2rem; 
    background-color: #af4c63; 
    color: white; 
    border: none; 
    text-shadow: 1px 1px 2px black;
    border-radius: 5px; 
    width: 20rem;
    cursor: pointer; 
    box-shadow: inset 2px 1px 6px rgb(180, 186, 190), 4px 4px 5px rgb(16, 8, 16);
    transition: box-shadow 0.6s ease; 
}

#myButton:hover,#saveButton:hover{
     transform: translate(0.2rem, 0.2rem);
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.2), 4px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

#myButton:active{
   transform: scale(0.9,0.9);
}

#saveButton{
    text-shadow: 1px 1px 2px black;
    padding: 15px 30px; 
    font-size: 2rem; 
    background-color: #4caf50; 
    color: white; 
    border: none; 
    width: 20rem;
    margin-top: 2rem;
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: inset 2px 1px 6px rgb(180, 186, 190), 4px 4px 5px rgb(16, 8, 16);
    transition: box-shadow 0.3s ease; 
}

#saveButton:active{
   transform: scale(0.9,0.9);
}

#previousEntries{
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #060606; 
    margin: 3rem 5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(130, 69, 69);
}  


@media (min-width: 868px){
    .counterContainer{
       
        height: 90vh;
    }

    #para{
        font-size: 3rem; 
    }
}